[GENERAL PARAMETERS]
EXPERIMENT_NAME = TRIAL
MACHINE_PROTOCOLS = MLCA_CUBIC, MLCB_BBR
PROXIES = 2, 3
BDP = 15000000
WMEM = %(BDP)s * 4

[TRIAL PARAMETERS]
UDPING = False
VERBOSE = True
SETUP_REPORT = True

## TODO: [Data Size + Expected Rounds / Expected Time with Portion for Each Data Size] The latter one is not implemented yet
DATA_SIZE_AND_ROUNDS = 50M_3